*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;
    background-image: url('bg.jpg');
    background-attachment: fixed;

    & .nav{
            & .nav-bar{
                & .menu-button{
                    display: none;
                }
                padding: 0.2rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                list-style-type: none;
                align-items: center;
                gap: 1.5rem;
                & li{
                    &:first-child{
                        margin-right: auto;
                        & a{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                }
                    & a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 1.2rem;
                    font-weight: 600;
                    
                    &:hover{
                        color: rgb(210, 213, 214);
                    }
                }
            }
            & .side-bar{
                display: none;
                padding: 1rem;
                position: fixed;
                top: 0;
                right: 0;
                width:  10rem;
                z-index: 999;
                height: fit-content;
                background-color: rgba(58, 57, 57, 0.171);
                backdrop-filter: blur(5px);
                box-shadow: 10px 5px 3px 3px rgba(0, 0, 0, 0.192);
                flex-direction: column;
                gap: 1.5rem;
                align-items: center;
                list-style-type: none;

                & li{
                    &:first-child{
                        margin-right: 0;
                    }
                    & a{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-size: 1.2rem;
                        font-weight: 600;
                        &:hover{
                            color: rgb(210, 213, 214);
                        }
                    }
                }
            }
        }

    }

/* mobile responsive */
@media (max-width: 500px){
    .hide-on-mobile{
        display: none;
    }
    .menu-button{
        display: block !important;
    }
}