*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;

    & .nav-bar{
        padding: 0.2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & .logo{
            color: rgb(66, 64, 64);
            font-size: 2rem;
            font-weight: 700;
        }
        & .nav{
            & ul{padding: 0.2rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                list-style-type: none;
                gap: 1.5rem;
                & li a{
                    text-decoration: none;
                    color: rgb(49, 44, 44);
                    font-size: 1.2rem;
                    font-weight: 600;
                    &:hover{
                        color: rgb(109, 105, 105);
                    }
                }
            }
        }
    }
}

/* mobile responsive */

